header{
   background-image: url("../img/pattern.png"); 
   background-color: rgb(0, 110, 255);
   background-size: 635px;
}

h1{
    margin: 0%;
}
.logo{
    width: 20%;  
    /* meglio non dare le percentuali per i loghi, ma usare i px */
}
.color-gray{
    color: gray;
    margin: 0%;
}
.color-blue{
    color: aqua;
    margin: 0%;
}

.immagine-main1{
    width: 1000px;
    height: 600px;
    margin-left: -40px;
}
.immagine-main2{
    width: 750px;
    height: 600px;
}
.giallo{
    background: #ffff00;
}
-my-table{
    width: 100%;
}
.riga1 th{
    width: 600px;
    text-align: left;
    background-color: rgba(8, 101, 207, 0.788);
}
.riga2{
    background-color: aqua;
}
.grigio{
    color: grey;
}
.figura1{
    color: aliceblue;
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.figura2{
    color: aliceblue;
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}